@media (max-width: 991px) {
    .promo__wrapper {
        align-items: center;
        
    }
    .header {
        width: 738px;
        margin: 0 auto;
    }

    .title {
        font-size: 25px;
    }

    .advantages {
        &__descr {
            font-size: 11px;
        }
        &__wrapper {
            width: 738px;
            margin: 0 auto;
            margin-top: 40px;
        }
        &__item {
            width: 200px;
        }
        &__subtitle {
            font-size: 16px;
            margin-top: 22px;
        }
    }
    .consultation {
        .title {
            &_left {
                text-align: center;
            }
        }
        &__descr {
            text-align: center;
        }
    }
    .feed-form {
        margin: 0 auto;
        margin-top: 36px;
    }
}

@media (max-width: 767px) {
    .header {
        width: 530px;
        &__official {
            display: none;
        }
    }
    .promo {
        padding-bottom: 70px;
        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 21px;
        }
    }
    .advantages {
        &__wrapper {
            flex-direction: column;
            width: 575px;
            align-items: center;
            margin-top: 0;
        }
        &__item {
            img {
                margin-top: 25px;
            }
        }
        &__subtitle {
            margin-top: 10px;
        }
        &__descr {
            margin-top: 10px;
        }
    }
}

@media (max-width: 575px) {
    .promo {
        padding: 18px 12px 50px 12px;
        min-height: 580px;
        &__header {
            font-size: 23px;
        }
        &__subheader {
            font-size: 13px;
        }
        &__icon {
            font-size: 10px;
        }
        &__icons {
            width: 290px;
        }
    }
    .header {
        width: 300px;
        &__logo {
            width: 142px;
        }
        &__phone {
            font-size: 13px;
        }
    }
    .button {
        margin-top: 3px;
        width: 117px;
        height: 22px;
        font-size: 9px;
        border-radius: 3px
    
    }

    .button_main {
        width: 300px;
        height: 50px;
        font-size: 16px;
        margin-top: 68px;
    }
    .button_submit {
        width: 250px;
        height: 50px;
        font-size: 16px;
    }
    

    .advantages {
        padding: 69px 0 54px 0;;
        &__wrapper {
            width: 320px;
        }
    }
    .consultation {
        padding: 43px 0 43px 0;
        min-height: 566px;
        &__descr {
            font-size: 14px;
        }
    }
    .title {
        &_left {
            font-size: 19px;
            br {
                display: none;
            }

        }
    }
    .feed-form {
        width: 250px;
    }
}

